Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

npm-install:
  name: npm install
  entry: bash -c 'npm install'
  language: system

eslint:
  name: ESLint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

fix/update-gitmodules-action test
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
Due: none

fix/update-gitmodules cleanup
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
  github-set-topics/action.yml
  github-set-topics/index.js
  read-and-stringify-json-action/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
  github-set-topics/dist/index.js
  read-and-stringify-json-action/dist/index.js
Due: none

fix/update-gitmodules cleanup
  common/localize-mirrored-repo.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
  github-flow-sync-with-mirror/dist/index.js
Due: none

fix/update-gitmodules-action: cleanup
  common/localize-mirrored-repo.js
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
  github-flow-sync-with-mirror/dist/index.js
Due: eslint, prettier

fix/update-gitmodules-action: cleanup
  github-flow-mirror-repo/dist/index.js
Due: none

fix/update-gitmodules-action make sure upstream is handled correctly everywhere
  .pre-commit-config.yaml
  common/localize-mirrored-repo.js
  github-flow-check-commit-message/index.js
  github-flow-mirror-repo/index.js
  github-set-topics/action.yml
  github-set-topics/index.js
  github-update-gitmodules/action.yml
  github-update-gitmodules/index.js
  package.json
  read-and-stringify-json-action/action.yml
  read-and-stringify-json-action/index.js
  trigger-workflow-action/action.yml
Due: npm-install, eslint, prettier

chores/update-dist: Build dist folders
  github-flow-check-commit-message/dist/index.js
  github-flow-mirror-repo/dist/index.js
  github-flow-sync-with-mirror/dist/index.js
  github-set-topics/dist/index.js
  github-update-gitmodules/dist/index.js
  read-and-stringify-json-action/dist/index.js
Due: none

fix/update-gitmodules-action: cleanup
  github-flow-sync-with-mirror/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-sync-with-mirror/dist/index.js
Due: none

fix/update-gitmodules-action: cleanup
  common/localize-mirrored-repo.js
Due: eslint, prettier

fix/update-gitmodules-action: cleanup
  github-set-topics/index.js
  github-update-gitmodules/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-set-topics/dist/index.js
  github-update-gitmodules/dist/index.js
Due: none

fix/update-gitmodules-action: cleanup
  github-update-gitmodules/index.js
  read-and-stringify-json-action/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-update-gitmodules/dist/index.js
  read-and-stringify-json-action/dist/index.js
Due: none

fix/update-gitmodules-action: cleanup
  common/localize-mirrored-repo.js
  github-flow-sync-with-mirror/index.js
Due: eslint, prettier

fix/update-gitmodules-action (#19)
  .pre-commit-config.yaml
  common/dist/index.js
  common/localize-mirrored-repo.js
  common/logger.js
  github-flow-check-branch-name/dist/index.js
  github-flow-check-commit-message/index.js
  github-flow-mirror-repo/index.js
  github-flow-sync-with-mirror/action.yml
  github-flow-sync-with-mirror/dist/index.js
  github-flow-sync-with-mirror/index.js
  github-set-actions-permissions/dist/index.js
  github-set-topics/action.yml
  github-set-topics/dist/index.js
  github-set-topics/index.js
  github-set-topics/package-lock.json
  github-set-topics/package.json
  github-update-gitmodules/action.yml
  github-update-gitmodules/dist/index.js
  github-update-gitmodules/index.js
  github-update-gitmodules/package-lock.json
  github-update-gitmodules/package.json
  package.json
  read-and-stringify-json-action/action.yml
  read-and-stringify-json-action/dist/index.js
  read-and-stringify-json-action/index.js
  read-and-stringify-json-action/package-lock.json
  read-and-stringify-json-action/package.json
  trigger-workflow-action/action.yml
  trigger-workflow-action/dist/index.js
  trigger-workflow-action/index.js
  trigger-workflow-action/package-lock.json
  trigger-workflow-action/package.json
Due: npm-install, eslint, prettier

fix/cleanup-codeowner-on-mirror: feedbacks
  common/localize-mirrored-repo.js
  github-flow-mirror-repo/index.js
  github-flow-sync-with-mirror/index.js
Due: eslint, prettier

fix/ICE-1010-improvement: merge
  .pre-commit-config.yaml
  common/localize-mirrored-repo.js
  common/logger.js
  github-flow-check-commit-message/dist/index.js
  github-flow-check-commit-message/index.js
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
  github-flow-sync-with-mirror/action.yml
  github-flow-sync-with-mirror/index.js
  github-set-actions-permissions/dist/index.js
  github-set-topics/action.yml
  github-set-topics/dist/index.js
  github-set-topics/index.js
  github-set-topics/package-lock.json
  github-set-topics/package.json
  github-update-gitmodules/action.yml
  github-update-gitmodules/dist/index.js
  github-update-gitmodules/index.js
  github-update-gitmodules/package-lock.json
  github-update-gitmodules/package.json
  read-and-stringify-json-action/action.yml
  read-and-stringify-json-action/dist/index.js
  read-and-stringify-json-action/index.js
  read-and-stringify-json-action/package-lock.json
  read-and-stringify-json-action/package.json
  trigger-workflow-action/action.yml
  trigger-workflow-action/dist/index.js
  trigger-workflow-action/index.js
  trigger-workflow-action/package-lock.json
  trigger-workflow-action/package.json
Due: eslint, prettier

chores/update-dist: Build dist folders
  common/dist/index.js
  github-flow-check-branch-name/dist/index.js
  github-flow-check-commit-message/dist/index.js
  github-flow-mirror-repo/dist/index.js
  github-set-actions-permissions/dist/index.js
Due: none

chores/update-dist: Build dist folders
  common/dist/index.js
  github-flow-check-branch-name/dist/index.js
  github-flow-check-commit-message/dist/index.js
  github-flow-sync-with-mirror/dist/index.js
  github-set-actions-permissions/dist/index.js
Due: none

fix/ICE-1010-improvement: merge
  jest.config.mjs
  jsdoc.json
Due: eslint

Deploy js docs report for branch
  docs/common_logger.js.html
  docs/github-flow-mirror-repo.html
  docs/github-flow-mirror-repo_index.js.html
  docs/index.html
  docs/logger.html
  jsdocs-ICE-1010-improvement/common_logger.js.html
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo.html
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo_index.js.html
  jsdocs-ICE-1010-improvement/index.html
  jsdocs-ICE-1010-improvement/logger.html
Due: prettier

fix/ICE-1010-improvement: precommit fix
  .github/actions/sanitized-branch-name/action.yml
  .nvmrc
  .pre-commit-config.yaml
  common/localize-mirrored-repo.js
  github-update-gitmodules/index.js
  package-lock.json
Due: eslint, prettier

chores/update-dist: Build dist folders
  common/dist/index.js
  git-upstream-set-check-pr-block/dist/index.js
  git-upstream-set-create-pr/dist/index.js
  github-flow-check-branch-name/dist/index.js
  github-flow-check-commit-message/dist/index.js
  github-flow-mirror-repo/dist/index.js
  github-flow-sync-with-mirror/dist/index.js
  github-flow-update-pr-title/dist/index.js
  github-flow-update-release-notes/dist/733.index.js
  github-flow-update-release-notes/dist/index.js
  github-set-actions-permissions/dist/index.js
Due: none

fix/ICE-1010-improvement: test fix
  github-flow-mirror-repo/__tests__/index.test.js
Due: eslint, prettier

fix/ICE-1010-improvement: update the test config
  jest.config.mjs
  jsdoc.json
Due: eslint

fix/ICE-1010-improvement: update the test config
  jsdoc.json
Due: none

Path conditions:
  npm-install: any of: ^package\.json$, but not: .*/.*/package\.json
  eslint: any of: \.(js|mjs|cjs)$, but not: (^|/)node_modules/|(^|/)dist/
  prettier: any of: \.(js|css|html)$, but not: (^|/)node_modules/|(^|/)dist/
