Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

npm-install:
  name: npm install
  entry: bash -c 'npm install'
  language: system

eslint:
  name: ESLint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

deploy: 96375c34cf77eb4012342b010da82e91663f57e0
  audit/combined-audit.json
Due: none

fix/fix/ICE-1010-improvement audit
  .github/workflows/deploy-npm-audit.yml
Due: none

Deploy js docs report
  index.html
Due: prettier

Deploy coverage report
  index.html
Due: prettier

Deploy js docs report
  audit/output.html
  output.html
Due: prettier

Update output.html
  audit/output.html
Due: prettier

Deploy js docs report
  audit/output.html
Due: prettier

fix/fix/ICE-1010-improvement audit
  .github/workflows/deploy-js-docs.yml
  .github/workflows/test-upload-deploy.yml
Due: none

Deploy js docs report
  common_logger.js.html
  docs/common_logger.js.html
  docs/github-flow-mirror-repo.html
  docs/github-flow-mirror-repo_index.js.html
  docs/index.html
  docs/logger.html
  github-flow-mirror-repo.html
  github-flow-mirror-repo_index.js.html
  index.html
  logger.html
Due: prettier

Deploy coverage report
  common/index.html
  common/logger.js.html
  coverage/common/index.html
  coverage/common/logger.js.html
  coverage/github-flow-mirror-repo/index.html
  coverage/github-flow-mirror-repo/index.js.html
  coverage/index.html
  coverage/lcov-report/common/index.html
  coverage/lcov-report/common/logger.js.html
  coverage/lcov-report/github-flow-mirror-repo/index.html
  coverage/lcov-report/github-flow-mirror-repo/index.js.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  github-flow-mirror-repo/index.html
  github-flow-mirror-repo/index.js.html
  index.html
  lcov-report/common/index.html
  lcov-report/common/logger.js.html
  lcov-report/github-flow-mirror-repo/index.html
  lcov-report/github-flow-mirror-repo/index.js.html
  lcov-report/index.html
  lcov.info
Due: prettier

Deploy coverage report
  common/index.html
  common/logger.js.html
  coverage/common/index.html
  coverage/common/logger.js.html
  coverage/github-flow-mirror-repo/index.html
  coverage/github-flow-mirror-repo/index.js.html
  coverage/index.html
  coverage/lcov-report/common/index.html
  coverage/lcov-report/common/logger.js.html
  coverage/lcov-report/github-flow-mirror-repo/index.html
  coverage/lcov-report/github-flow-mirror-repo/index.js.html
  coverage/lcov-report/index.html
  github-flow-mirror-repo/index.html
  github-flow-mirror-repo/index.js.html
  index.html
  lcov-report/common/index.html
  lcov-report/common/logger.js.html
  lcov-report/github-flow-mirror-repo/index.html
  lcov-report/github-flow-mirror-repo/index.js.html
  lcov-report/index.html
Due: prettier

chores/update-dist: Build dist folders
  common/dist/index.js
  git-upstream-set-check-pr-block/dist/index.js
  git-upstream-set-create-pr/dist/140.index.js
  git-upstream-set-create-pr/dist/181.index.js
  git-upstream-set-create-pr/dist/index.js
  github-flow-check-branch-name/dist/index.js
  github-flow-check-commit-message/dist/index.js
  github-flow-mirror-repo/dist/index.js
  github-flow-sync-with-mirror/dist/index.js
  github-flow-update-pr-title/dist/index.js
  github-flow-update-release-notes/dist/733.index.js
  github-flow-update-release-notes/dist/index.js
  github-set-actions-permissions/dist/index.js
Due: none

fix/fix/ICE-1010-improvement remove audit
  .github/workflows/deploy-npm-audit.yml
Due: none

fix/ICE-1010-improvement flexible branching
  .github/workflows/deploy-js-docs.yml
Due: none

Deploy js docs report for branch ICE-1010-improvement
  jsdocs-ICE-1010-improvement/common_logger.js.html
  jsdocs-ICE-1010-improvement/fonts/Montserrat/Montserrat-Bold.eot
  jsdocs-ICE-1010-improvement/fonts/Montserrat/Montserrat-Bold.ttf
  jsdocs-ICE-1010-improvement/fonts/Montserrat/Montserrat-Bold.woff
  jsdocs-ICE-1010-improvement/fonts/Montserrat/Montserrat-Bold.woff2
  jsdocs-ICE-1010-improvement/fonts/Montserrat/Montserrat-Regular.eot
  jsdocs-ICE-1010-improvement/fonts/Montserrat/Montserrat-Regular.ttf
  jsdocs-ICE-1010-improvement/fonts/Montserrat/Montserrat-Regular.woff
  jsdocs-ICE-1010-improvement/fonts/Montserrat/Montserrat-Regular.woff2
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.eot
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.svg
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.ttf
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.woff
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.woff2
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.eot
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.svg
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.ttf
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.woff
  jsdocs-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.woff2
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo.html
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo_index.js.html
  jsdocs-ICE-1010-improvement/index.html
  jsdocs-ICE-1010-improvement/logger.html
  jsdocs-ICE-1010-improvement/scripts/collapse.js
  jsdocs-ICE-1010-improvement/scripts/commonNav.js
  jsdocs-ICE-1010-improvement/scripts/linenumber.js
  jsdocs-ICE-1010-improvement/scripts/nav.js
  jsdocs-ICE-1010-improvement/scripts/polyfill.js
  jsdocs-ICE-1010-improvement/scripts/prettify/Apache-License-2.0.txt
  jsdocs-ICE-1010-improvement/scripts/prettify/lang-css.js
  jsdocs-ICE-1010-improvement/scripts/prettify/prettify.js
  jsdocs-ICE-1010-improvement/scripts/search.js
  jsdocs-ICE-1010-improvement/styles/jsdoc.css
  jsdocs-ICE-1010-improvement/styles/prettify.css
Due: eslint, prettier

Path conditions:
  npm-install: any of: ^package\.json$, but not: .*/.*/package\.json
  eslint: any of: \.(js|mjs|cjs)$, but not: (^|/)node_modules/|(^|/)dist/
  prettier: any of: \.(js|css|html)$, but not: (^|/)node_modules/|(^|/)dist/
