Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

.pre-commit-config.yaml:

---

################################
# See https://pre-commit.com for more information - see https://pre-commit.com/hooks.html for more hooks
################################

repos:
  # -----------------------------
  # Standard pre-commit-hooks for general all-purpose formatting and validation
  # -----------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: check-added-large-files
        args: [--maxkb=500]
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: trailing-whitespace
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: detect-private-key
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: end-of-file-fixer
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: fix-encoding-pragma
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: file-contents-sorter
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: check-case-conflict
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: '(^|/)node_modules/|(^|/)dist/'
  # -----------------------------
  # Standard pre-commit-hooks for general all-purpose formatting and validation
  # -----------------------------
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
  # -----------------------------
  # Gitleaks SAST tool for detecting and preventing hardcoded secrets like passwords, api keys, and tokens in git repos
  # -----------------------------
  # If you are knowingly committing something that is not a secret and gitleaks is catching it,
  # you can add an inline comment of '# gitleaks:allow' to the end of that line in your file.
  # This will instructs gitleaks to ignore that secret - example:
  #   some_non_secret_value = a1b2c3d4e5f6g7h8i9j0 # gitleaks:allow
  # -----------------------------
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
  # -----------------------------
  # GitHub Actions Workflow Linting on .github/workflows/*.yml files
  # -----------------------------
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint
  # -----------------------------
  # YAML Linting on yaml files for pre-commit and github actions
  # -----------------------------
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: Check YAML syntax with yamllint
        args: [--strict, -c=.yamllint.yaml]
        always_run: true
        pass_filenames: true
        exclude: '^.*node_modules/.*$'
  - repo: local
    hooks:
      - id: npm-install
        name: npm install
        # Use a shell command to run npm install and then stage any changes.
        entry: bash -c 'npm install'
        language: system
        # This regex matches a package.json at the root of the repository.
        files: '^package\.json$'
        # This regex is used to exclude package.json files in any subdirectories.
        exclude: '.*/.*/package\.json'
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        types: [javascript]
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: '\.(js|css|html)$'
        exclude: '(^|/)node_modules/|(^|/)dist/'

chores/update-dist: Build dist folders
  github-flow-check-branch-name/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  github-app-token/action.yaml
  github-app-token/index.js
  github-app-token/package-lock.json
  github-app-token/package.json
  github-flow-check-branch-name/index.js
  github-flow-mirror-repo/index.js
  package.json
Due: npm-install, eslint, prettier

chores/update-dist: Build dist folders
  github-app-token/dist/index.js
  github-flow-check-branch-name/dist/index.js
  github-flow-mirror-repo/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  github-app-token/lib/github-application.js
  github-app-token/lib/private-key.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-app-token/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  github-app-token/package-lock.json
  github-app-token/package.json
Due: none

feat/sync-with-mirror sync with mirror
  github-app-token/dist/index.js
  github-app-token/index.js
  github-app-token/package.json
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  github-app-token/dist/index.js
  github-app-token/index.js
  github-app-token/lib/github-application.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  github-app-token/index.js
  github-app-token/lib/github-application.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  github-app-token/lib/GitHubApplication.js
  github-app-token/lib/github-application.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  github-app-token/lib/github-application.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  github-app-token/action.yaml
  github-app-token/dist/index.js
  github-app-token/index.js
  github-app-token/lib/GitHubApplication.js
  github-app-token/lib/github-application.js
  github-app-token/lib/private-key.js
  github-app-token/package-lock.json
  github-app-token/package.json
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  package.json
Due: npm-install

feat/sync-with-mirror sync with mirror
  github-flow-update-pr-title/action.yml
Due: none

feat/sync-with-mirror sync with mirror
  github-flow-mirror-repo/action.yml
  github-flow-update-pr-title/action.yml
Due: none

feat/sync-with-mirror sync with mirror
  github-flow-mirror-repo/action.yml
  github-flow-sync-with-mirror/action.yml
Due: none

feat/sync-with-mirror sync with mirror
  .gitignore
  github-flow-mirror-repo/action.yml
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  git-actions-set-permissions/action.yml
  git-actions-set-permissions/index.js
  git-actions-set-permissions/package-lock.json
  git-actions-set-permissions/package.json
Due: eslint, prettier

chores/update-dist: Build dist folders
  git-actions-set-permissions/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  git-actions-set-permissions/action.yml
Due: none

feat/sync-with-mirror sync with mirror
  git-actions-set-permissions/action.yml
  git-actions-set-permissions/index.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  common/set-github-access.js
  git-actions-set-permissions/index.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  git-actions-set-permissions/index.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  git-actions-set-permissions/index.js
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  git-actions-set-permissions/dist/index.js
  github-flow-mirror-repo/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  github-flow-mirror-repo/action.yml
  github-flow-mirror-repo/index.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  github-flow-mirror-repo/index-test.js
  github-flow-mirror-repo/index.js
Due: eslint, prettier
