Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

npm-install:
  name: npm install
  entry: bash -c 'npm install'
  language: system

eslint:
  name: ESLint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

feat/sync-with-mirror sync with mirror
  github-flow-sync-with-mirror/action.yml
  github-flow-sync-with-mirror/dist/index.js
  github-flow-sync-with-mirror/index.js
  github-flow-sync-with-mirror/package-lock.json
  github-flow-sync-with-mirror/package.json
  package.json
Due: npm-install, eslint, prettier

feat/sync-with-mirror sync with mirror
  github-flow-sync-with-mirror/index.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  github-flow-sync-with-mirror/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  .github/workflows/build-bundle.yml
Due: none

feat/sync-with-mirror sync with mirror
  common/package-lock.json
  github-flow-sync-with-mirror/package-lock.json
Due: none

chores/update-dist: Build dist folders
  github-flow-sync-with-mirror/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  .github/workflows/build-bundle.yml
  github-flow-mirror-repo/action.yml
  github-flow-mirror-repo/index.js
  github-flow-mirror-repo/package-lock.json
  github-flow-mirror-repo/package.json
  package.json
Due: npm-install, eslint, prettier

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  github-flow-check-branch-name/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-check-branch-name/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  common/logger.js
  common/package-lock.json
  common/package.json
Due: eslint, prettier

chores/update-dist: Build dist folders
  common/dist/index.js
  github-flow-check-branch-name/dist/index.js
Due: none

feat/sync-with-mirror sync with mirror
  common/logger.js
Due: eslint, prettier

feat/sync-with-mirror sync with mirror
  common/package-lock.json
  common/package.json
Due: none

feat/sync-with-mirror sync with mirror
  github-flow-mirror-repo/index.js
  github-flow-sync-with-mirror/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
  github-flow-sync-with-mirror/dist/index.js
Due: none

fix/regex-branch-name
  github-flow-check-branch-name/index.js
Due: eslint, prettier

Path conditions:
  npm-install: any of: ^package\.json$, but not: .*/.*/package\.json
  eslint: any of: \.(js|mjs|cjs)$, but not: (^|/)node_modules/|(^|/)dist/
  prettier: any of: \.(js|css|html)$, but not: (^|/)node_modules/|(^|/)dist/
