Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

.pre-commit-config.yaml:

---

################################
# See https://pre-commit.com for more information - see https://pre-commit.com/hooks.html for more hooks
################################

repos:
  # -----------------------------
  # Standard pre-commit-hooks for general all-purpose formatting and validation
  # -----------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: check-added-large-files
        args: [--maxkb=500]
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: trailing-whitespace
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: detect-private-key
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: end-of-file-fixer
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: fix-encoding-pragma
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: file-contents-sorter
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: check-case-conflict
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: '(^|/)node_modules/|(^|/)dist/'
  # -----------------------------
  # Standard pre-commit-hooks for general all-purpose formatting and validation
  # -----------------------------
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
  # -----------------------------
  # Gitleaks SAST tool for detecting and preventing hardcoded secrets like passwords, api keys, and tokens in git repos
  # -----------------------------
  # If you are knowingly committing something that is not a secret and gitleaks is catching it,
  # you can add an inline comment of '# gitleaks:allow' to the end of that line in your file.
  # This will instructs gitleaks to ignore that secret - example:
  #   some_non_secret_value = a1b2c3d4e5f6g7h8i9j0 # gitleaks:allow
  # -----------------------------
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
  # -----------------------------
  # GitHub Actions Workflow Linting on .github/workflows/*.yml files
  # -----------------------------
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint
  # -----------------------------
  # YAML Linting on yaml files for pre-commit and github actions
  # -----------------------------
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: Check YAML syntax with yamllint
        args: [--strict, -c=.yamllint.yaml]
        always_run: true
        pass_filenames: true
        exclude: '^.*node_modules/.*$'
  - repo: local
    hooks:
      - id: npm-install
        name: npm install
        # Use a shell command to run npm install and then stage any changes.
        entry: bash -c 'npm install'
        language: system
        # This regex matches a package.json at the root of the repository.
        files: '^package\.json$'
        # This regex is used to exclude package.json files in any subdirectories.
        exclude: '.*/.*/package\.json'
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        types: [javascript]
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: '\.(js|css|html)$'
        exclude: '(^|/)node_modules/|(^|/)dist/'

fix/ICE-1010-improvement unit tests
  github-flow-mirror-repo/__tests__/index.test.js
Due: eslint, prettier

fix/ICE-1010-improvement unit tests
  .gitignore
  github-flow-mirror-repo/package.json
  jest.config.mjs
  jest.setup.js
  lerna-debug.log
  lerna.json
  package-lock.json
  package.json
Due: npm-install, eslint, prettier

fix/ICE-1010-improvement unit tests
  .github/workflows/unit-tests.yml
  github-flow-mirror-repo/dist/index.js
  jest.config.mjs
  package-lock.json
  package.json
Due: npm-install, eslint

fix/ICE-1010-improvement unit tests
  .github/workflows/unit-tests.yml
Due: none

Updates
  base.css
  block-navigation.js
  common/index.html
  common/logger.js.html
  favicon.png
  github-flow-mirror-repo/index.html
  github-flow-mirror-repo/index.js.html
  index.html
  lcov-report/base.css
  lcov-report/block-navigation.js
  lcov-report/common/index.html
  lcov-report/common/logger.js.html
  lcov-report/favicon.png
  lcov-report/github-flow-mirror-repo/index.html
  lcov-report/github-flow-mirror-repo/index.js.html
  lcov-report/index.html
  lcov-report/prettify.css
  lcov-report/prettify.js
  lcov-report/sort-arrow-sprite.png
  lcov-report/sorter.js
  lcov.info
  prettify.css
  prettify.js
  sort-arrow-sprite.png
  sorter.js
Due: eslint, prettier

fix/ICE-1010-improvement unit tests
  .github/workflows/build-bundle.yml
  .github/workflows/unit-tests.yml
  github-flow-mirror-repo/.github/UPSTREAM
  github-flow-mirror-repo/.github/workflows/sync-with-mirror.yml
  github-flow-mirror-repo/index.js
Due: eslint, prettier

Updates
  common/index.html
  common/logger.js.html
  github-flow-mirror-repo/index.html
  github-flow-mirror-repo/index.js.html
  index.html
  lcov-report/common/index.html
  lcov-report/common/logger.js.html
  lcov-report/github-flow-mirror-repo/index.html
  lcov-report/github-flow-mirror-repo/index.js.html
  lcov-report/index.html
Due: prettier

Initial commit on gh-pages
  base.css
  block-navigation.js
  common/index.html
  common/logger.js.html
  favicon.png
  github-flow-mirror-repo/index.html
  github-flow-mirror-repo/index.js.html
  index.html
  lcov-report/base.css
  lcov-report/block-navigation.js
  lcov-report/common/index.html
  lcov-report/common/logger.js.html
  lcov-report/favicon.png
  lcov-report/github-flow-mirror-repo/index.html
  lcov-report/github-flow-mirror-repo/index.js.html
  lcov-report/index.html
  lcov-report/prettify.css
  lcov-report/prettify.js
  lcov-report/sort-arrow-sprite.png
  lcov-report/sorter.js
  lcov.info
  prettify.css
  prettify.js
  sort-arrow-sprite.png
  sorter.js
Due: eslint, prettier

fix/ICE-1010-improvement deploy coverage
  .github/workflows/deploy-coverage.yml
  .github/workflows/unit-tests.yml
Due: none

fix/ICE-1010-improvement deploy coverage
  .github/workflows/deploy-coverage.yml
Due: none

fix/ICE-1010-improvement js docs gh pages
  .github/workflows/deploy-js-docs.yml
  .github/workflows/test-upload-deploy.yml
  .github/workflows/unit-tests.yml
  .gitignore
  github-flow-mirror-repo/.github/UPSTREAM
  github-flow-mirror-repo/.github/workflows/sync-with-mirror.yml
  github-flow-mirror-repo/index.js
  jsdoc.json
  package-lock.json
  package.json
Due: npm-install, eslint, prettier

fix/ICE-1010-improvement js docs gh pages
  .github/workflows/deploy-js-docs.yml
Due: none

Deploy coverage report
  index.html
Due: prettier

fix/ICE-1010-improvement js docs gh pages
  .github/workflows/deploy-js-docs.yml
  github-flow-mirror-repo/index.js
Due: eslint, prettier

Deploy js docs report
  docs/github-flow-mirror-repo.html
  github-flow-mirror-repo.html
  index.html
Due: prettier

fix/ICE-1010-improvement js docs gh pages
  .github/workflows/deploy-js-docs.yml
  github-flow-mirror-repo/index.js
  jsdoc.json
  package-lock.json
  package.json
Due: npm-install, eslint, prettier
