Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

.pre-commit-config.yaml:

---

################################
# See https://pre-commit.com for more information - see https://pre-commit.com/hooks.html for more hooks
################################

repos:
  # -----------------------------
  # Standard pre-commit-hooks for general all-purpose formatting and validation
  # -----------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: check-added-large-files
        args: [--maxkb=500]
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: trailing-whitespace
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: detect-private-key
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: end-of-file-fixer
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: fix-encoding-pragma
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: file-contents-sorter
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: check-case-conflict
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: '(^|/)node_modules/|(^|/)dist/'
  # -----------------------------
  # Standard pre-commit-hooks for general all-purpose formatting and validation
  # -----------------------------
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
  # -----------------------------
  # Gitleaks SAST tool for detecting and preventing hardcoded secrets like passwords, api keys, and tokens in git repos
  # -----------------------------
  # If you are knowingly committing something that is not a secret and gitleaks is catching it,
  # you can add an inline comment of '# gitleaks:allow' to the end of that line in your file.
  # This will instructs gitleaks to ignore that secret - example:
  #   some_non_secret_value = a1b2c3d4e5f6g7h8i9j0 # gitleaks:allow
  # -----------------------------
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
  # -----------------------------
  # GitHub Actions Workflow Linting on .github/workflows/*.yml files
  # -----------------------------
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint
  # -----------------------------
  # YAML Linting on yaml files for pre-commit and github actions
  # -----------------------------
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: Check YAML syntax with yamllint
        args: [--strict, -c=.yamllint.yaml]
        always_run: true
        pass_filenames: true
        exclude: '^.*node_modules/.*$'
  - repo: local
    hooks:
      - id: npm-install
        name: npm install
        # Use a shell command to run npm install and then stage any changes.
        entry: bash -c 'npm install'
        language: system
        # This regex matches a package.json at the root of the repository.
        files: '^package\.json$'
        # This regex is used to exclude package.json files in any subdirectories.
        exclude: '.*/.*/package\.json'
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        types: [javascript]
        exclude: '(^|/)node_modules/|(^|/)dist/'
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: '\.(js|css|html)$'
        exclude: '(^|/)node_modules/|(^|/)dist/'

fix/ICE-1010-improvement flexible cleanup
  .github/workflows/deploy-test-coverage-report.yml
Due: none

Deploy js docs report for branch ICE-1010-improvement
  docs/common_logger.js.html
  docs/github-flow-mirror-repo.html
  docs/github-flow-mirror-repo_index.js.html
  docs/index.html
  docs/logger.html
  jsdocs-ICE-1010-improvement/common_logger.js.html
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo.html
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo_index.js.html
  jsdocs-ICE-1010-improvement/index.html
  jsdocs-ICE-1010-improvement/logger.html
Due: prettier

fix/ICE-1010-improvement flexible cleanup
  .github/workflows/deploy-js-docs.yml
Due: none

Deploy js docs report for branch
  docs/common_logger.js.html
  docs/github-flow-mirror-repo.html
  docs/github-flow-mirror-repo_index.js.html
  docs/index.html
  docs/logger.html
  jsdocs-ICE-1010-improvement/common_logger.js.html
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo.html
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo_index.js.html
  jsdocs-ICE-1010-improvement/index.html
  jsdocs-ICE-1010-improvement/logger.html
Due: prettier

fix/ICE-1010-improvement flexible cleanup
  .github/workflows/build-bundle.yml
  .github/workflows/deploy-js-docs.yml
  .github/workflows/deploy-test-coverage-report.yml
  jsdoc.json
Due: none

fix/ice-1010 include tags when mirroring and avoid noises with so many branches for sync up (#14)
  .github/workflows/build-bundle.yml
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
  github-flow-sync-with-mirror/dist/index.js
  github-flow-sync-with-mirror/index.js
Due: eslint, prettier

fix/ICE-1010-improvement flexible cleanup
  .github/actions/sanitized-branch-name/action.yml
  .github/workflows/deploy-js-docs.yml
  .github/workflows/deploy-test-coverage-report.yml
Due: none

fix/ICE-1010-create-module-from-opencepk prefix
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
Due: none

fix/ICE-1010-add-mirror prefix (#15)
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/clean-up missing prefix
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/clean-up missing prefix (#17)
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/clean-up
  .github/workflows/build-bundle.yml
  .github/workflows/deploy-js-docs.yml
  .github/workflows/deploy-test-coverage-report.yml
  .nvmrc
  package.json
Due: npm-install

fix/harde-codeded-repo add the repo to remote
  github-flow-check-commit-message/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-check-commit-message/dist/index.js
Due: none

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
  github-flow-sync-with-mirror/dist/index.js
Due: none

fix/ICE-1010-improvement merge with main
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/common/git-operations.js.html
  coverage/lcov-report/common/index.html
  coverage/lcov-report/common/logger.js.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/git-upstream-set-check-pr-block/index.html
  coverage/lcov-report/git-upstream-set-check-pr-block/index.js.html
  coverage/lcov-report/git-upstream-set-create-pr/dist/140.index.js.html
  coverage/lcov-report/git-upstream-set-create-pr/dist/181.index.js.html
  coverage/lcov-report/git-upstream-set-create-pr/dist/index.html
  coverage/lcov-report/git-upstream-set-create-pr/index.html
  coverage/lcov-report/git-upstream-set-create-pr/index.js.html
  coverage/lcov-report/github-flow-check-branch-name/index.html
  coverage/lcov-report/github-flow-check-branch-name/index.js.html
  coverage/lcov-report/github-flow-check-commit-message/index.html
  coverage/lcov-report/github-flow-check-commit-message/index.js.html
  coverage/lcov-report/github-flow-mirror-repo/index.html
  coverage/lcov-report/github-flow-mirror-repo/index.js.html
  coverage/lcov-report/github-flow-sync-with-mirror/index.html
  coverage/lcov-report/github-flow-sync-with-mirror/index.js.html
  coverage/lcov-report/github-flow-update-pr-title/index.html
  coverage/lcov-report/github-flow-update-pr-title/index.js.html
  coverage/lcov-report/github-flow-update-release-notes/dist/733.index.js.html
  coverage/lcov-report/github-flow-update-release-notes/dist/index.html
  coverage/lcov-report/github-flow-update-release-notes/index.html
  coverage/lcov-report/github-flow-update-release-notes/index.js.html
  coverage/lcov-report/github-set-actions-permissions/index.html
  coverage/lcov-report/github-set-actions-permissions/index.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
Due: eslint, prettier

fix/ICE-1010-improvement merge with main
  coverage/base.css
  coverage/block-navigation.js
  coverage/common/git-operations.js.html
  coverage/common/index.html
  coverage/common/logger.js.html
  coverage/favicon.png
  coverage/git-upstream-set-check-pr-block/index.html
  coverage/git-upstream-set-check-pr-block/index.js.html
  coverage/git-upstream-set-create-pr/dist/140.index.js.html
  coverage/git-upstream-set-create-pr/dist/181.index.js.html
  coverage/git-upstream-set-create-pr/dist/index.html
  coverage/git-upstream-set-create-pr/index.html
  coverage/git-upstream-set-create-pr/index.js.html
  coverage/github-flow-check-branch-name/index.html
  coverage/github-flow-check-branch-name/index.js.html
  coverage/github-flow-check-commit-message/index.html
  coverage/github-flow-check-commit-message/index.js.html
  coverage/github-flow-mirror-repo/index.html
  coverage/github-flow-mirror-repo/index.js.html
  coverage/github-flow-sync-with-mirror/index.html
  coverage/github-flow-sync-with-mirror/index.js.html
  coverage/github-flow-update-pr-title/index.html
  coverage/github-flow-update-pr-title/index.js.html
  coverage/github-flow-update-release-notes/dist/733.index.js.html
  coverage/github-flow-update-release-notes/dist/index.html
  coverage/github-flow-update-release-notes/index.html
  coverage/github-flow-update-release-notes/index.js.html
  coverage/github-set-actions-permissions/index.html
  coverage/github-set-actions-permissions/index.js.html
  coverage/index.html
  coverage/lcov.info
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
Due: eslint, prettier

fix/ICE-1010-improvement merge with main
  github-flow-check-commit-message/index.js
Due: eslint, prettier

fix/ICE-1010-improvement cleanup
  github-flow-check-commit-message/action.yaml
  github-flow-check-commit-message/index.js
Due: eslint, prettier
