Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

npm-install:
  name: npm install
  entry: bash -c 'npm install'
  language: system

eslint:
  name: ESLint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

chores/fix-sources cleanup
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/fix-sources cleanup
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/fix-sources cleanup
  .github/workflows/build-bundle.yml
Due: none

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
Due: none

chores/fix-sources cleanup
  .github/workflows/build-bundle.yml
  github-flow-sync-with-mirror/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-sync-with-mirror/dist/index.js
Due: none

fix/ICE-1010-improvemen t improve the code quality
  .gitignore
  check-commit-message/package.json
  common/dist/index.js
  common/package.json
  git-upstream-set-check-pr-block/dist/index.js
  git-upstream-set-check-pr-block/package.json
  git-upstream-set-create-pr/dist/406.index.js
  git-upstream-set-create-pr/dist/868.index.js
  git-upstream-set-create-pr/dist/index.js
  git-upstream-set-create-pr/package.json
  github-flow-check-branch-name/dist/index.js
  github-flow-check-branch-name/package.json
  github-flow-check-commit-message/dist/index.js
  github-flow-check-commit-message/package.json
  github-flow-mirror-repo/__tests__/index.test.js
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
  github-flow-mirror-repo/package-lock.json
  github-flow-mirror-repo/package.json
  github-flow-sync-with-mirror/dist/index.js
  github-flow-sync-with-mirror/package.json
  github-flow-update-pr-title/dist/index.js
  github-flow-update-pr-title/package.json
  github-flow-update-release-notes/dist/887.index.js
  github-flow-update-release-notes/dist/index.js
  github-flow-update-release-notes/package.json
  github-set-actions-permissions/dist/index.js
  github-set-actions-permissions/package.json
  lerna-debug.log
  lerna.json
  package-lock.json
  package.json
Due: npm-install, eslint, prettier

fix/ICE-1010-mirror-clone precomit fix
  .github/workflows/build-bundle.yml
  github-flow-mirror-repo/index.js
Due: eslint, prettier

fix/ICE-1010-mirror-clone precomit fix
  .github/workflows/build-bundle.yml
Due: none

fix/ICE-1010-mirror-clone precomit fix
  github-flow-mirror-repo/index.js
Due: eslint, prettier

fix/ICE-1010-mirror-clone precomit fix
  github-flow-mirror-repo/__tests__/index.test.js
  package-lock.json
  package.json
Due: npm-install, eslint, prettier

fix/ICE-1010-improvement unit tests
  .github/workflows/unit-tests.yml
  package.json
Due: npm-install

fix/ICE-1010-improvement unit tests
  github-flow-mirror-repo/__tests__/index.test.js
Due: eslint, prettier

fix/ICE-1010-improvement unit tests
  github-flow-mirror-repo/__tests__/index.test.js
  github-flow-mirror-repo/package-lock.json
Due: eslint, prettier

fix/ICE-1010-improvement unit tests
  github-flow-mirror-repo/.github/UPSTREAM
  github-flow-mirror-repo/.github/workflows/sync-with-mirror.yml
  github-flow-mirror-repo/__tests__/index.test.js
Due: eslint, prettier

fix/ICE-1010-improvement unit tests
  .github/workflows/unit-tests.yml
Due: none

fix/ICE-1010-improvement unit tests
  .github/workflows/build-bundle.yml
  github-flow-mirror-repo/dist/index.js
Due: none

Path conditions:
  npm-install: any of: ^package\.json$, but not: .*/.*/package\.json
  eslint: any of: \.(js|mjs|cjs)$, but not: (^|/)node_modules/|(^|/)dist/
  prettier: any of: \.(js|css|html)$, but not: (^|/)node_modules/|(^|/)dist/
