Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

npm-install:
  name: npm install
  entry: bash -c 'npm install'
  language: system

eslint:
  name: ESLint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

feat/sync-with-mirror clean up
  common/git-operations.js
  git-actions-set-permissions/index.js
  github-flow-mirror-repo/index-test.js
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  git-actions-set-permissions/dist/index.js
  github-flow-mirror-repo/dist/index.js
Due: none

feat/sync-with-mirror clean up
  github-flow-mirror-repo/action.yml
Due: none

feat/sync-with-mirror clean up
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-mirror-repo/dist/index.js
Due: none

feat/sync-with-mirror clean up
  github-flow-mirror-repo/index.js
  github-set-actions-permissions/action.yml
  github-set-actions-permissions/dist/index.js
  github-set-actions-permissions/index.js
  github-set-actions-permissions/package-lock.json
  github-set-actions-permissions/package.json
Due: eslint, prettier

feat/sync-with-mirror clean up
  .gitignore
Due: none

feat/sync-with-mirror clean up
  github-flow-mirror-repo/index-test.js
  github-flow-mirror-repo/index.js
Due: eslint, prettier

feat/sync-mirror update foldr name
  package.json
Due: npm-install

feat/sync-mirror update foldr name
  git-upstream-set-check-pr-block/package-lock.json
  git-upstream-set-create-pr/package-lock.json
  github-actions-set-permissions/package-lock.json
  github-flow-check-branch-name/package-lock.json
  github-flow-check-branch-name/package.json
  github-flow-check-commit-message/package-lock.json
  github-flow-check-commit-message/package.json
  github-flow-sync-with-mirror/package-lock.json
  github-flow-update-pr-title/dist/index.js
  github-flow-update-pr-title/package-lock.json
  github-flow-update-pr-title/package.json
  github-flow-update-release-notes/dist/692.index.js
  github-flow-update-release-notes/dist/index.js
  github-flow-update-release-notes/package-lock.json
  github-flow-update-release-notes/package.json
  package.json
Due: npm-install

feat/sync-mirror update foldr name
  github-set-actions-permissions/dist/index.js
Due: none

chores/update-dist: Build dist folders
  github-set-actions-permissions/dist/index.js
Due: none

feat/sync-mirror cleanup
  check-commit-message/index.js
  common/logger.js
  github-flow-mirror-repo/action.yml
  github-flow-mirror-repo/index.js
  github-flow-sync-with-mirror/action.yml
  github-set-actions-permissions/action.yml
Due: eslint, prettier

chores/update-dist: Build dist folders
  common/dist/index.js
  github-flow-check-branch-name/dist/index.js
  github-flow-mirror-repo/dist/index.js
  github-flow-sync-with-mirror/dist/index.js
  github-set-actions-permissions/dist/index.js
Due: none

feat/sync-mirror cleanup
  check-commit-message/index.js
Due: eslint, prettier

feat/sync-mirror cleanup
  github-flow-check-branch-name/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-check-branch-name/dist/index.js
Due: none

feat/sync-mirror cleanup
  github-flow-sync-with-mirror/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-sync-with-mirror/dist/index.js
Due: none

chores/fix-sources update the action to internal
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/fix-sources clean up
  check-commit-message/action.yaml
  github-flow-mirror-repo/action.yml
  github-flow-sync-with-mirror/action.yml
  github-set-actions-permissions/action.yml
  update-release-notes/action.yaml
Due: none

chores/fix-sources clean up
  .github/workflows/build-bundle.yml
Due: none

chores/fix-sources clean up
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/fix-sources update the action to internal (#11)
  .github/workflows/build-bundle.yml
  check-commit-message/action.yaml
  github-flow-mirror-repo/action.yml
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
  github-flow-sync-with-mirror/action.yml
  github-set-actions-permissions/action.yml
  update-release-notes/action.yaml
Due: eslint, prettier

chores/fix-sources fix linting issue
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/fix-sources fix linting issue
  .github/workflows/pre-commit.yml
Due: none

chores/fix-sources cleanup
  github-flow-mirror-repo/index.js
Due: eslint, prettier

chores/fix-sources fix linting issue (#12)
  .github/workflows/pre-commit.yml
  github-flow-mirror-repo/dist/index.js
  github-flow-mirror-repo/index.js
Due: eslint, prettier

fix/ICE-1010-mirror-clone include tags
  github-flow-mirror-repo/index.js
Due: eslint, prettier

Path conditions:
  npm-install: any of: ^package\.json$, but not: .*/.*/package\.json
  eslint: any of: \.(js|mjs|cjs)$, but not: (^|/)node_modules/|(^|/)dist/
  prettier: any of: \.(js|css|html)$, but not: (^|/)node_modules/|(^|/)dist/
