Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

npm-install:
  name: npm install
  entry: bash -c 'npm install'
  language: system

eslint:
  name: ESLint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

fix/ICE-1010-improvement flexible branching
  .github/workflows/deploy-js-docs.yml
Due: none

Deploy coverage report
  common/index.html
  common/logger.js.html
  coverage/common/index.html
  coverage/common/logger.js.html
  coverage/github-flow-mirror-repo/index.html
  coverage/github-flow-mirror-repo/index.js.html
  coverage/index.html
  coverage/lcov-report/common/index.html
  coverage/lcov-report/common/logger.js.html
  coverage/lcov-report/github-flow-mirror-repo/index.html
  coverage/lcov-report/github-flow-mirror-repo/index.js.html
  coverage/lcov-report/index.html
  github-flow-mirror-repo/index.html
  github-flow-mirror-repo/index.js.html
  index.html
  lcov-report/common/index.html
  lcov-report/common/logger.js.html
  lcov-report/github-flow-mirror-repo/index.html
  lcov-report/github-flow-mirror-repo/index.js.html
  lcov-report/index.html
Due: prettier

Deploy js docs report for branch ICE-1010-improvement
  docs/common_logger.js.html
  docs/github-flow-mirror-repo.html
  docs/github-flow-mirror-repo_index.js.html
  docs/index.html
  docs/logger.html
  jsdocs-ICE-1010-improvement/common_logger.js.html
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo.html
  jsdocs-ICE-1010-improvement/github-flow-mirror-repo_index.js.html
  jsdocs-ICE-1010-improvement/index.html
  jsdocs-ICE-1010-improvement/logger.html
Due: prettier

fix/ICE-1010-improvement flexible branching
  .github/workflows/deploy-js-docs.yml
  .github/workflows/test-upload-deploy.yml
Due: none

Deploy js docs report for branch ICE-1010-improvement
  coverage-ICE-1010-improvement/common_logger.js.html
  coverage-ICE-1010-improvement/fonts/Montserrat/Montserrat-Bold.eot
  coverage-ICE-1010-improvement/fonts/Montserrat/Montserrat-Bold.ttf
  coverage-ICE-1010-improvement/fonts/Montserrat/Montserrat-Bold.woff
  coverage-ICE-1010-improvement/fonts/Montserrat/Montserrat-Bold.woff2
  coverage-ICE-1010-improvement/fonts/Montserrat/Montserrat-Regular.eot
  coverage-ICE-1010-improvement/fonts/Montserrat/Montserrat-Regular.ttf
  coverage-ICE-1010-improvement/fonts/Montserrat/Montserrat-Regular.woff
  coverage-ICE-1010-improvement/fonts/Montserrat/Montserrat-Regular.woff2
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.eot
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.svg
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.ttf
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.woff
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.woff2
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.eot
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.svg
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.ttf
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.woff
  coverage-ICE-1010-improvement/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.woff2
  coverage-ICE-1010-improvement/github-flow-mirror-repo.html
  coverage-ICE-1010-improvement/github-flow-mirror-repo_index.js.html
  coverage-ICE-1010-improvement/index.html
  coverage-ICE-1010-improvement/logger.html
  coverage-ICE-1010-improvement/scripts/collapse.js
  coverage-ICE-1010-improvement/scripts/commonNav.js
  coverage-ICE-1010-improvement/scripts/linenumber.js
  coverage-ICE-1010-improvement/scripts/nav.js
  coverage-ICE-1010-improvement/scripts/polyfill.js
  coverage-ICE-1010-improvement/scripts/prettify/Apache-License-2.0.txt
  coverage-ICE-1010-improvement/scripts/prettify/lang-css.js
  coverage-ICE-1010-improvement/scripts/prettify/prettify.js
  coverage-ICE-1010-improvement/scripts/search.js
  coverage-ICE-1010-improvement/styles/jsdoc.css
  coverage-ICE-1010-improvement/styles/prettify.css
  coverage/common/index.html
  coverage/common/logger.js.html
  coverage/github-flow-mirror-repo/index.html
  coverage/github-flow-mirror-repo/index.js.html
  coverage/index.html
Due: eslint, prettier

fix/ICE-1010-improvement flexible branching
  .github/workflows/test-upload-deploy.yml
Due: none

Deploy js docs report for branch ICE-1010-improvement
  coverage-ICE-1010-improvement/base.css
  coverage-ICE-1010-improvement/block-navigation.js
  coverage-ICE-1010-improvement/common/index.html
  coverage-ICE-1010-improvement/common/logger.js.html
  coverage-ICE-1010-improvement/favicon.png
  coverage-ICE-1010-improvement/github-flow-mirror-repo/index.html
  coverage-ICE-1010-improvement/github-flow-mirror-repo/index.js.html
  coverage-ICE-1010-improvement/index.html
  coverage-ICE-1010-improvement/lcov-report/base.css
  coverage-ICE-1010-improvement/lcov-report/block-navigation.js
  coverage-ICE-1010-improvement/lcov-report/common/index.html
  coverage-ICE-1010-improvement/lcov-report/common/logger.js.html
  coverage-ICE-1010-improvement/lcov-report/favicon.png
  coverage-ICE-1010-improvement/lcov-report/github-flow-mirror-repo/index.html
  coverage-ICE-1010-improvement/lcov-report/github-flow-mirror-repo/index.js.html
  coverage-ICE-1010-improvement/lcov-report/index.html
  coverage-ICE-1010-improvement/lcov-report/prettify.css
  coverage-ICE-1010-improvement/lcov-report/prettify.js
  coverage-ICE-1010-improvement/lcov-report/sort-arrow-sprite.png
  coverage-ICE-1010-improvement/lcov-report/sorter.js
  coverage-ICE-1010-improvement/lcov.info
  coverage-ICE-1010-improvement/prettify.css
  coverage-ICE-1010-improvement/prettify.js
  coverage-ICE-1010-improvement/sort-arrow-sprite.png
  coverage-ICE-1010-improvement/sorter.js
  coverage/index.html
Due: eslint, prettier

fix/ICE-1010-improvement flexible branching
  .github/workflows/deploy-test-coverage-report.yml
Due: none

Deploy js docs report for branch ICE-1010-improvement
  coverage-ICE-1010-improvement/common/index.html
  coverage-ICE-1010-improvement/common/logger.js.html
  coverage-ICE-1010-improvement/github-flow-mirror-repo/index.html
  coverage-ICE-1010-improvement/github-flow-mirror-repo/index.js.html
  coverage-ICE-1010-improvement/index.html
  coverage/common/index.html
  coverage/common/logger.js.html
  coverage/github-flow-mirror-repo/index.html
  coverage/github-flow-mirror-repo/index.js.html
  coverage/index.html
Due: prettier

fix/ICE-1010-improvement flexible branching
  .github/workflows/deploy-js-docs.yml
  .github/workflows/deploy-test-coverage-report.yml
Due: none

fix/ICE-1010-improvement flexible branching
  jest.config.mjs
Due: eslint

fix/ICE-1010-improvement flexible cleanup
  common/dist/index.js
  git-upstream-set-check-pr-block/dist/index.js
  git-upstream-set-create-pr/dist/140.index.js
  git-upstream-set-create-pr/dist/181.index.js
  git-upstream-set-create-pr/dist/index.js
  github-flow-check-branch-name/dist/index.js
  github-flow-check-commit-message/dist/index.js
  github-flow-mirror-repo/dist/index.js
  github-flow-sync-with-mirror/__test__/index.test.js
  github-flow-sync-with-mirror/dist/index.js
  github-flow-sync-with-mirror/package.json
  github-flow-update-pr-title/__test__/index.test.js
  github-flow-update-pr-title/dist/index.js
  github-flow-update-pr-title/package.json
  github-flow-update-release-notes/__test__/index.test.js
  github-flow-update-release-notes/dist/733.index.js
  github-flow-update-release-notes/dist/index.js
  github-flow-update-release-notes/package.json
  github-set-actions-permissions/__test__/index.test.js
  github-set-actions-permissions/dist/index.js
  github-set-actions-permissions/package.json
  jest.config.mjs
  package-lock.json
  package.json
Due: npm-install, eslint, prettier

fix/ICE-1010-improvement flexible cleanup
  .github/workflows/deploy-test-coverage-report.yml
Due: none

Path conditions:
  npm-install: any of: ^package\.json$, but not: .*/.*/package\.json
  eslint: any of: \.(js|mjs|cjs)$, but not: (^|/)node_modules/|(^|/)dist/
  prettier: any of: \.(js|css|html)$, but not: (^|/)node_modules/|(^|/)dist/
