Repository opencepk/opencepk-module-ghactions-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, eslint, prettier

npm-install:
  name: npm install
  entry: bash -c 'npm install'
  language: system

eslint:
  name: ESLint
  entry: npx eslint
  language: system

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

fix/ICE-1010-improvement js docs gh pages
  .github/workflows/deploy-js-docs.yml
Due: none

Deploy coverage report
  index.html
Due: prettier

Clean up old files
  docs/fonts/Montserrat/Montserrat-Bold.eot
  docs/fonts/Montserrat/Montserrat-Bold.ttf
  docs/fonts/Montserrat/Montserrat-Bold.woff
  docs/fonts/Montserrat/Montserrat-Bold.woff2
  docs/fonts/Montserrat/Montserrat-Regular.eot
  docs/fonts/Montserrat/Montserrat-Regular.ttf
  docs/fonts/Montserrat/Montserrat-Regular.woff
  docs/fonts/Montserrat/Montserrat-Regular.woff2
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.eot
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.svg
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.ttf
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.woff
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.woff2
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.eot
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.svg
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.ttf
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.woff
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.woff2
  docs/github-flow-mirror-repo.html
  docs/index.html
  docs/index.js.html
  docs/scripts/collapse.js
  docs/scripts/commonNav.js
  docs/scripts/linenumber.js
  docs/scripts/nav.js
  docs/scripts/polyfill.js
  docs/scripts/prettify/Apache-License-2.0.txt
  docs/scripts/prettify/lang-css.js
  docs/scripts/prettify/prettify.js
  docs/scripts/search.js
  docs/styles/jsdoc.css
  docs/styles/prettify.css
Due: eslint, prettier

fix/ICE-1010-improvement js docs gh pages
  common/logger.js
Due: eslint, prettier

Deploy js docs report
  common_logger.js.html
  docs/common_logger.js.html
  docs/fonts/Montserrat/Montserrat-Bold.eot
  docs/fonts/Montserrat/Montserrat-Bold.ttf
  docs/fonts/Montserrat/Montserrat-Bold.woff
  docs/fonts/Montserrat/Montserrat-Bold.woff2
  docs/fonts/Montserrat/Montserrat-Regular.eot
  docs/fonts/Montserrat/Montserrat-Regular.ttf
  docs/fonts/Montserrat/Montserrat-Regular.woff
  docs/fonts/Montserrat/Montserrat-Regular.woff2
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.eot
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.svg
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.ttf
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.woff
  docs/fonts/Source-Sans-Pro/sourcesanspro-light-webfont.woff2
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.eot
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.svg
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.ttf
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.woff
  docs/fonts/Source-Sans-Pro/sourcesanspro-regular-webfont.woff2
  docs/github-flow-mirror-repo.html
  docs/github-flow-mirror-repo_index.js.html
  docs/index.html
  docs/logger.html
  docs/scripts/collapse.js
  docs/scripts/commonNav.js
  docs/scripts/linenumber.js
  docs/scripts/nav.js
  docs/scripts/polyfill.js
  docs/scripts/prettify/Apache-License-2.0.txt
  docs/scripts/prettify/lang-css.js
  docs/scripts/prettify/prettify.js
  docs/scripts/search.js
  docs/styles/jsdoc.css
  docs/styles/prettify.css
  github-flow-mirror-repo_index.js.html
  logger.html
Due: eslint, prettier

fix/ICE-1010-improvement js docs gh pages
  .github/workflows/deploy-js-docs.yml
  .github/workflows/deploy-npm-audit.yml
  .github/workflows/test-upload-deploy.yml
Due: none

fix/ICE-1010-improvement js docs gh pages
  .github/workflows/deploy-npm-audit.yml
Due: none

Deploy js docs report
  index.html
Due: prettier

fix/ICE-1010-improvement test
  .github/workflows/deploy-npm-audit.yml
Due: none

fix/ICE-1010-mirror-clone delete remte branch
  github-flow-sync-with-mirror/index.js
Due: eslint, prettier

chores/update-dist: Build dist folders
  github-flow-sync-with-mirror/dist/index.js
Due: none

fix/fix/ICE-1010-improvement audit
  .github/workflows/deploy-npm-audit.yml
Due: none

deploy: eaf412e3bce93965ec586fedcf57dfda015798b8
  .nojekyll
  audit/combined-audit.json
Due: none

fix/fix/ICE-1010-improvement audit
  .github/workflows/deploy-npm-audit.yml
  package-lock.json
  package.json
Due: npm-install

Path conditions:
  npm-install: any of: ^package\.json$, but not: .*/.*/package\.json
  eslint: any of: \.(js|mjs|cjs)$, but not: (^|/)node_modules/|(^|/)dist/
  prettier: any of: \.(js|css|html)$, but not: (^|/)node_modules/|(^|/)dist/
